body {
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

label {
    display: block;
    margin-top: 0.6em;
}   