<!DOCTYPE html>
<html>
    <head>
        <title>Notify Me!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/addStation.js') }}"></script> -->
    </head>
    <body>
        <h1>Notify Me!</h1>
        <form action="" method="post">
            <fieldset>
                <legend>Sign up</legend>

                <div class="form-group">
                    <label for="first-name">First name:</label>
                    <input required placeholder="First name" type="text" name="firstName">
                </div>
                <div class="form-group">
                    <label for="last-name">Last name:</label>
                    <input required placeholder="Last name" type="text" name="lastName">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input required placeholder="email@address.com" type="email" name="email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone:</label>
                    <input type="phone" name="phone">
                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>
                    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>

            </fieldset>
        </form>
    </body>
</html>